// Global
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 80%;
}

html {
    font-family: $baseFont;
    font-size: 62.5%;
    color: $primaryColor;
    line-height: 1.6;
}

body {
    font-size: 2.5rem;
}

h2 {
    font-size: 5rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

// Fieldset

.firstQuestion {
    background-image: url(../assets/noun_Zombie_876175.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: 105%;
    background-position-y: 110%;
}

.thirdQuestion {
    background-image: url(../assets/noun_Zombie_876167.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 110%;
}

.firstQuestion,
.thirdQuestion {
    background-color: $secondaryBackgroundColor;
    color: $secondaryColor;
    padding: 10px 40px;
    height: 100vh;
}

.secondQuestion {
    background-color: $primaryBackgroundColor;
    padding: 50px 40px;
    height: auto;
}

.results {
    background-color: $primaryBackgroundColor;
    padding: 20px 40px;
    height: 100vh;
}

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageContainer li {
    padding: 40px 30px;
    list-style: none;
}

.secondQuestion img {
    width: 200px;
    height: 150px;
    display: block;
}

// Button
.nextButton h3 {
    padding: 10px;
}

.nextButton {
    padding: 40px 0;
}

label {
    display: inline-block;
    width: 100%;
}


input[type=radio] {
	margin-right: 20px;
}

input {
    text-decoration: none;
}

.resultsFinal {
    padding-top: 20px;
}

.resultsFinal input {
    padding: 10px;
}