@media (max-width: 1280px){

    .secondQuestion img {
    width: 300px;
    height: 250px;
    display: block;
    }
}
    
    @media (max-width: 1120px){
    
    html {
        font-size: 60%;
    }

    .results a {
        width: 30%;
    }  

    .results {
        padding: 100px;
    }

    .secondQuestion img {
        width: 200px;
        height: 150px;
        display: block;
    }
}

@media (max-width: 928px){
    
    html {
        font-size: 50%;
    }

    .header a,
    footer a, 
    .nextContainer input {
        width: 30%;
    }
}

@media (max-width: 787px){
    
    .imageContainer li {
        padding: 40px 10px;
    }
}

@media (max-width: 741px){
    
    .results a {
        width: 50%;
    }
}

@media (max-width: 703px){
    
    html {
        font-size: 45%;
    }
}

@media (max-width: 687px){

    .wrapper {
        width: 90%;
    }

    .imageContainer li {
        width: calc(100% / 2) - 10px;
        padding: 10px;
    }

    .firstQuestion,
    .thirdQuestion {
        background-image: none;
    }
}

@media (max-width: 599px){
    html {
        font-size: 40%;
    }

    .headerImageContainer {
        display: none;
    }

    .results a {
        width: 100%;
    }
    
    .header a,
    footer a, 
    .nextContainer input {
        width: 40%;
    }
}

@media (max-width: 464px){

    h2 {
        font-size: 4rem;
    }
}

@media (max-width: 356px){
    html {
        font-size: 38%;
    }
}

// Mobile view
@media (max-width: 320px){
    .wrapper {
        width: 95%;
    }

    html {
    font-size: 35%;
    }

    h2 {
        font-size: 3.5rem;
    }

    .secondQuestion {
        padding: 10px;
    }

    .results {
        padding: 100px 50px;
    }

    .imageContainer {
        padding: 0;
    }
}