$primaryColor: #FFFFFF;
$secondaryColor: #000000;
$primaryBackgroundColor: #272343;
$secondaryBackgroundColor: #BAE8E8;
$buttonColor: #903749;

$headerFont: 'Creepster', cursive;
$baseFont: 'Arvo', serif;