$primaryColor: #FFFFFF;
$secondaryColor: #e3f6f5;
$primaryBackgroundColor: #284B63;
$secondaryBackgroundColor: #D9D9D9;
$buttonColor: #788585;

$baseFont: 'Roboto', sans-serif;
$bodyFont: 'Droid Serif', serif;