html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-color: #272343;
  font-family: "Creepster", cursive;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  text-align: center;
  font-size: 8.5rem;
  padding: 20px;
  margin: 0 auto;
}

h1 span {
  display: block;
  font-size: 10rem;
}

header p {
  text-align: center;
  font-size: 2rem;
  font-family: "Arvo", serif;
}

.headerImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -webkit-animation-name: handUp;
          animation-name: handUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 100px;
  height: 100px;
}

.headerImageContainer img {
  width: 100px;
  height: 100px;
}

@-webkit-keyframes handUp {
  from {
    top: 90px;
  }
  to {
    top: 30px;
  }
}

@keyframes handUp {
  from {
    top: 90px;
  }
  to {
    top: 30px;
  }
}

.header a,
.resultsFinal input,
footer a,
.nextButton h3 {
  color: #FFFFFF;
  background-color: #903749;
  display: block;
  width: 20%;
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 0 0 #53354A;
          box-shadow: 10px 10px 0 0 #53354A;
  margin: 0 auto;
  font-family: "Creepster", cursive;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

html {
  font-family: "Arvo", serif;
  font-size: 62.5%;
  color: #FFFFFF;
  line-height: 1.6;
}

body {
  font-size: 2.5rem;
}

h2 {
  font-size: 5rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.firstQuestion {
  background-image: url(../assets/noun_Zombie_876175.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-x: 105%;
  background-position-y: 110%;
}

.thirdQuestion {
  background-image: url(../assets/noun_Zombie_876167.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 110%;
}

.firstQuestion,
.thirdQuestion {
  background-color: #BAE8E8;
  color: #000000;
  padding: 10px 40px;
  height: 100vh;
}

.secondQuestion {
  background-color: #272343;
  padding: 50px 40px;
  height: auto;
}

.results {
  background-color: #272343;
  padding: 20px 40px;
  height: auto;
}

.imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imageContainer li {
  padding: 40px 30px;
  list-style: none;
}

.secondQuestion img {
  width: 200px;
  height: 150px;
  display: block;
}

.nextButton h3 {
  padding: 10px;
}

.resultsFinal a {
  text-decoration: none;
}

.nextButton {
  padding: 40px 0;
  text-decoration: none;
}

label {
  display: inline-block;
  width: 100%;
}

input[type=radio] {
  margin-right: 20px;
}

input {
  text-decoration: none;
}

.resultsFinal {
  padding-top: 20px;
}

.resultsFinal input {
  padding: 10px;
}

.prompt {
  text-align: center;
  color: #903749;
}

.results h2 {
  text-align: center;
}

footer {
  background-color: #BAE8E8;
  padding: 20px 5px 5px 0;
  text-align: center;
  color: #000000;
}

@media (max-width: 1280px) {
  .secondQuestion li {
    padding: 40px 10px;
  }
}

@media (max-width: 1120px) {
  html {
    font-size: 60%;
  }
  .resultsFinal input {
    width: 30%;
  }
  .results {
    padding: 100px;
  }
  .secondQuestion img {
    width: 200px;
    height: 150px;
    display: block;
  }
}

@media (max-width: 928px) {
  html {
    font-size: 50%;
  }
  .header a,
  footer a,
  .nextButton h3 {
    width: 30%;
  }
}

@media (max-width: 787px) {
  .imageContainer li {
    padding: 40px 10px;
  }
}

@media (max-width: 741px) {
  .resultsFinal input {
    width: 50%;
  }
}

@media (max-width: 703px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 687px) {
  .wrapper {
    width: 90%;
  }
  .imageContainer li {
    width: calc(100% / 2)-10px;
    padding: 10px;
  }
  .firstQuestion,
  .thirdQuestion {
    background-image: none;
  }
}

@media (max-width: 599px) {
  html {
    font-size: 40%;
  }
  .headerImageContainer {
    display: none;
  }
  .resultsFinal input {
    width: 80%;
  }
  .header a,
  footer a,
  .nextButton h3 {
    width: 40%;
  }
}

@media (max-width: 464px) {
  h2 {
    font-size: 4rem;
  }
}

@media (max-width: 356px) {
  html {
    font-size: 38%;
  }
}

@media (max-width: 320px) {
  .wrapper {
    width: 95%;
  }
  html {
    font-size: 35%;
  }
  h2 {
    font-size: 3.5rem;
  }
  .secondQuestion {
    padding: 10px;
  }
  .results {
    padding: 100px 50px;
  }
  .imageContainer {
    padding: 0;
  }
}
